@font-face {
  font-family: "OCRA";
  src: url("./jsheet.ttf");
}

:root {
  /* default theme=dark */

  --bkg-colr: #eee;
  --fnt-colr: #000000;

  --texb: rgba(0, 0, 0, 0.8);

  --scrl1: rgb(0, 0, 0);
  --scrl: rgba(88, 88, 88, 0.74);

  --circ: rgba(90, 90, 90, 0.4);
}

[data-theme="light"] {
  --bkg-colr: #000000f6;
  --fnt-colr: #ffffff;

  --texb: rgba(255, 255, 255, 0.8);

  --scrl: rgb(255, 255, 255);
  --scrl1: rgba(163, 163, 163, 0.7);

  --circ: rgba(102, 102, 102, 0.4);
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

html,
body {
  left: 0;
  top: 0;
  margin: 0;
  font-family: "OCRA";
  overflow-x: hidden;
}

body {
  background: black;
  color: white;
  font-size: 1.6rem;
}

/* .j-h-block {
  text-align: center;
}
.j-h-block-semi {
  position: relative;
  text-align: center;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0rem 3rem 0rem 3rem;
}
.j-h-block-semi-left {
  text-align: left;
  width: fit-content;
  padding: 0rem 3rem 0rem 3rem;
}
.j-h-block-semi-right {
  text-align: right;
  width: fit-content;
  float: right;
  padding: 0rem 3rem 0rem 3rem;
}

.j-h-double {
  position: relative;
  text-align: center;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0rem 0.5rem 0.3rem 0.5rem;
  border-bottom: 0.2rem double white;
}

.bg-c1 {
  background-color: rgb(64, 64, 64);
} */

button {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 7rem;
  padding: 0.7rem 0.3rem;
  background-color: #fbfbfb00;
  color: white;
  font-size: 1rem;
  text-align: center;
  transition: 0.1s;
  cursor: pointer;
  border: 0.2rem solid rgba(255, 255, 255, 0);
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.449);
}

button:hover {
  background: white;
  color: black;
}

.m1 {
  border: 0.2rem solid rgba(255, 255, 255, 0);
}

.m1:hover {
  border: 0.2rem #ffffff solid;
}

.m2 {
  border-bottom: 0.2rem #ffffff00 solid;
}

.hculi {
  padding: 0.7rem 1rem;

  border: 0.2rem #00000000 solid;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
  min-width: 7rem;
  transition: 0.1s;
}

.hculi:hover {
  background-color: #00000000;
  color: white;
  border-bottom: 0.2rem solid white;
}

.hculi2 {
  border: 0.2rem #ffffff solid;
}

.arrow {
  -webkit-font-smoothing: antialiased;
  margin: unset;
  box-sizing: unset;
  min-width: 7rem;
  padding: unset;
  font-size: unset;
  text-align: left;
  font-family: "Advent Pro";
  font-weight: 800;
  width: 7rem;
  /* height: 3rem; */
  padding-bottom: 1.5rem;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) bottom right/4rem 0.2rem,
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) bottom right/0.2rem 11rem,
    linear-gradient(to top right,
      transparent calc(50% - 0.2rem),
      rgba(0, 0, 255, 0) calc(50% - 0.2rem),
      rgba(0, 0, 255, 0) calc(50% + 0.2rem),
      transparent calc(50% + 0.2rem));
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 1rem;
  color: white;
  border: 0px;
  min-width: unset;
}

.arrow2 {
  -webkit-font-smoothing: antialiased;
  min-width: 7rem;
  padding: 0.7rem 0.3rem;
  text-align: center;

  width: 7rem;
  height: 3rem;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) bottom right/4rem 0.2rem,
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) bottom right/0.2rem 11rem,
    linear-gradient(to top right,
      transparent calc(50% - 0.2rem),
      rgba(0, 0, 255, 0) calc(50% - 0.2rem),
      rgba(0, 0, 255, 0) calc(50% + 0.2rem),
      transparent calc(50% + 0.2rem));
  background-repeat: no-repeat;

  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 1rem;
  color: white;
  border: 0px;
  min-width: unset;
}

.arrow2:hover {
  opacity: 1;
}

.arrow3 {
  -webkit-font-smoothing: antialiased;
  min-width: 7rem;
  padding: 0.7rem 0.3rem;
  text-align: center;

  width: 7rem;
  height: 3rem;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) top left/0rem 1rem,
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) bottom left/0.2rem 11rem,
    linear-gradient(to top right,
      transparent calc(50% - 0.2rem),
      rgba(0, 0, 255, 0) calc(50% - 0.2rem),
      rgba(0, 0, 255, 0) calc(50% + 0.2rem),
      transparent calc(50% + 0.2rem));
  background-repeat: no-repeat;

  cursor: pointer;
  transition: 0.2s linear;
  font-size: 1rem;
  color: white;
  border: 0px;
  min-width: unset;
}

.arrow3:hover {
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) top left/14rem 1rem,
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) bottom left/14rem 11rem,
    linear-gradient(to top right,
      transparent calc(50% - 0.2rem),
      rgba(0, 0, 255, 0) calc(50% - 0.2rem),
      rgba(0, 0, 255, 0) calc(50% + 0.2rem),
      transparent calc(50% + 0.2rem));
  color: rgb(0, 0, 0);
  border: 0px solid white;
  opacity: 1;
}

.arrow:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.423), rgb(255, 255, 255)) bottom right/1rem 0.2rem,
    linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0.413)) bottom right/0.2rem 1rem,
    linear-gradient(to top right,
      transparent calc(50% - 0.2rem),
      rgba(0, 0, 255, 0) calc(50% - 0.2rem),
      rgba(0, 0, 255, 0) calc(50% + 0.2rem),
      transparent calc(50% + 0.2rem));
  color: #000000;
  background-color: #000000;
  opacity: 1;
  font-weight: 900;
}

.rl {
  /* font-size: 0.9vw; */
  background-color: rgba(0, 0, 0, 0);
  height: 4vw;
  border: 0px transparent solid;
}

.rl:hover {
  background-color: #00000000;
  border: 0px transparent solid;
  color: white;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.wbut {
  width: 7rem;
  height: 3rem;
  color: rgb(0, 0, 0);
  background: white;

  min-width: unset;
  padding: unset;
  font-size: unset;
  text-align: unset;
  cursor: pointer;
  border: unset;
  border-bottom: unset;
  transition: 0.1s ease-in-out;
}

.wbutin {
  width: 7rem;
  height: 3rem;
  color: white;
  background: rgb(0, 0, 0);
  background-color: #0c0c0c;
  transition: 0.2s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: center;
}

.wbutin:hover {
  transform: translate(-2%, -5%);
}

.wbutin2 {
  width: 7rem;
  height: 3rem;
  color: white;
  background: rgb(0, 0, 0);
  background-color: #0c0c0c;
  transition: 0.2s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: center;
}

.wbutin2:hover {
  transform: translate(10%, 0%);
}

.wbutin3 {
  width: 7rem;
  height: 3rem;
  color: white;
  background: rgb(0, 0, 0);
  background-color: #0c0c0c;
  transition: 0.1s linear;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: center;
}

.wbut:hover .wbutin3 {
  height: 0;
  color: black;
}

.button-group {
  height: 3rem;
  width: 7rem;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  width: fit-content;

  background-color: #0c0c0c;
  padding: 1rem;
  border: 0px;
  text-transform: uppercase;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 2rem;
  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.button-group-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;
  /*  Set same font-size and line height  */
  font-size: 1rem;
  line-height: 2rem;
  transition: transform 0.4s ease;
}

.button-group-title1 {
  transform-origin: right center;
}

.button-group-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

.button-group-icon {
  position: relative;
  width: 3rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon {
  display: block;
  position: absolute;
  transition: transform 0.4s ease;
  fill: white;
  transform: translate(0.6rem);
}

.icon:nth-child(2) {
  transform: translate(-2rem);
  fill: rgb(255, 255, 255);
  opacity: 0;
}

/* Hover Action*/
.button-group:hover .button-group-container {
  transform: translateY(-2rem);
  /* background-color: #ffffff;
  olor: black; */
}

/* Rotate texts a little bit */
.button-group:hover .button-group-title1 {
  transform: rotate(20deg);
}

.button-group:hover .button-group-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.button-group:hover .icon:first-child {
  transform: translate(4rem);
  fill: rgb(0, 0, 0);
}

.button-group:hover .icon:nth-child(2) {
  transform: translate(0.6rem);
  fill: rgb(0, 0, 0);
  opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.link_a:hover {
  text-decoration: underline;
}

.link_a2 {
  text-decoration: underline;
}

.link_a2:hover {
  font-weight: 900;
}

.link_a3:hover {
  background: white;
  color: black;
}

.link_a4 {
  position: relative;
  transition: 0.3s ease-in-out;
  color: #000;
  background: transparent;
}

.lnk_bg {
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: white;
  z-index: -1;
}

.link_a4:hover>.lnk_bg {
  opacity: 0;
}

.link_a4:hover {
  color: white;
}

.link_a5 {
  position: relative;
  transition: 0.2s ease-in-out;
  color: #ffffff;
  background: transparent;
}

.link_a5 .lnk_bg {
  width: 0;
  background: white;
  transition: 0.32s ease-in-out;
}

.link_a5:hover {
  color: black;
}

.link_a5:hover>.lnk_bg {
  width: 100px;
}

.link_a6 {
  position: relative;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  background: transparent;
}

.link_a6 .lnk_bg {
  width: 0;
  background: white;
  transition: 0.2s ease-in-out;

  left: 0%;
  top: 50%;
  position: absolute;
  transform: translate(0%, -50%);
  background: white;
  z-index: -1;
}

.link_a6:hover {
  color: black;
}

.link_a6:hover>.lnk_bg {
  width: 100%;
}

.link_a7 {
  border-left: 0.2rem solid white;
  border-right: 0.2rem solid white;
  padding: 0rem 0.8rem;
  transition: 0.3s ease;
}

.link_a7:hover {
  background: white;
  color: black;
}

.link_a8:hover {
  font-weight: bolder;
}

.desc_but {
  transition: 0.1s;
  /* margin-top: 8%;
  padding: 0.8vw; */
  font-size: 0.8rem;
  font-weight: 100;
  width: 4.5rem;
  height: 2rem;
  min-width: 1rem;
  border-radius: 10%;
  border: 0.1rem solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.desc_but:hover {
  background-color: #eee;
  color: #000;
}

input {
  font-size: 0.8rem;
  padding: 1rem 1rem 0.5rem 0.5rem;
  display: block;
  width: 10rem;
  border: none;
  border-bottom: 0.1rem solid #b7b7b7;
  background-color: transparent;
  color: white;
}

input:focus {
  outline: none;
}

.text1 {
  font-size: 0.8rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: block;
  width: 10rem;
  border: none;
  border-bottom: 0.1rem solid #b7b7b7;
  background-color: transparent;
  color: white;
}

.text1:focus {
  outline: 0.1rem solid white;

  border-bottom: 0.1rem solid transparent;
}

.text2 {
  font-size: 0.8rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: block;
  width: 10rem;
  border: none;
  outline: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.1rem solid transparent;
}

.text2:hover {
  background: rgba(255, 255, 255, 0.05);
}

.text2:focus {
  outline: 0.1rem solid white;
  border-bottom: 0.1rem solid transparent;
}

.text4 {
  border-bottom: 0;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 10rem;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #d7d7d7;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #d7d7d7;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #d7d7d7;
  }

  to {
    width: 0;
    background: transparent;
  }
}

.bar {
  position: relative;
  display: block;
  width: 10rem;
}

.bar:before,
.bar:after {
  content: "";
  height: 0.2rem;
  width: 0;
  bottom: 0rem;
  position: absolute;
  background: #ffffff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar2:before,
.bar2::after {
  height: 0.1rem;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
  width: 50%;
}

.text-group {
  position: relative;
}

.text-group label {
  color: #999;
  font-size: 0.8rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.2rem;
  top: 0.8rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
  top: -0.2rem;
  font-size: 0.6rem;
  color: rgba(225, 225, 225, 0.827);
}

.text_input {
  color: rgb(0, 0, 0);
  padding: 0rem 0.4rem;
  background: rgb(255, 255, 255);
  /* background: rgba(255, 255, 255, 0.1); */
  transition: 0.2s ease;
  font-weight: 600;
  border-bottom: 0px;
}

.text_input:focus {
  background: rgb(255, 255, 255);
  padding: 0.6rem 0.8rem;
  color: black;
}

.text_input2 {
  color: rgb(0, 0, 0);
  padding: 0.6rem 0.6rem;
  background: rgb(255, 255, 255);
  /* background: rgba(255, 255, 255, 0.1); */
  transition: 0.2s ease;
  border-bottom: 0px;
  font-size: 0.8rem;
}

.text_input2:focus {
  background: rgb(255, 255, 255);
  color: black;
}

/* .text_input_bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -0.1rem;
} */

.phone_no_input {
  font-size: 0.8rem;
  font-family: unset;
  transition: 0.2s ease-in-out;
}

.phone_no {
  position: absolute;
  font-size: 0.8rem;
  transform: translate(-2rem, 0%);
  top: 1rem;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.phone_no_input:focus {
  padding-left: 2rem;
}

.phone_no_input:focus+.phone_no {
  transform: translate(0, 0%);
  opacity: 1;
}

.comment_area {
  background: black;
  color: white;
  font-size: 0.8vw;
}

.comment_area:hover {
  background: rgba(71, 71, 71, 0.4);
}

.number_inp {
  /* height: 32px; */
  /* border-radius: 4px; */
  border: 0.1rem solid #b7b7b7;
  position: relative;
  text-align: center;
  /* font-size: 20px; */
  /* width: 80px; */
  color: black;
  outline: none;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: black; */
  /* -webkit-filter: invert(1); */
  filter: invert(1);
  /* filter: invert(100%); */
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
}

.number_inp::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  border-left: 0.1rem solid #d8d8d8;
  height: 3rem;
  width: 0.8rem;
  cursor: pointer;
}

.datalist-group * {
  width: 7rem;
  color: white;
  font-family: "NotoColorEmojiLimited", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 1rem 0.5rem 1rem 1rem;
}

datalist option {
  font-size: 0.8rem;
  background-color: #ccc;
  cursor: pointer;
}

/* option active styles */
datalist option:hover,
datalist option:focus {
  color: #fff;
  background-color: rgb(23, 125, 227);
  outline: 0 none;
}

.datalist-group option {
  background-color: rgb(255, 255, 255);
}

input::-webkit-calendar-picker-indicator {
  opacity: 1;
  margin-left: 0px;
}

select {
  background-color: #000;
  width: 7rem;
  height: 3rem;
  padding: 1rem;
  color: white;
  cursor: pointer;
}

select:hover {
  background: #1a1a1a;
}

.otp {
  letter-spacing: 1.7rem;
  font-weight: 900;
  text-align: left;
  font-size: 1.1rem;
  width: 10rem;
  padding: 1rem 0.1rem;
  box-sizing: border-box;
}

.checkbox-group {
  font-weight: Regular;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 1rem;
}

.checkbox-button {
  cursor: pointer;
  color: white;
  width: fit-content;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  width: fit-content;
}

input[type="checkbox"] {
  font-size: 1rem;
  line-height: 1.5;
  border: 0.1rem solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  outline: 0;
  background-color: transparent;
}

.checkbox-button__input {
  opacity: 0;
  position: absolute;
}

.checkbox-button__control {
  position: relative;
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  vertical-align: middle;
  background-color: inherit;
  color: #ffffff;
  border: 0.1rem solid #666;
  transition: 0.2s ease;
}

.checkbox-button__control:hover {
  border: 0.1rem solid #ffffff;
}

.checkbox-button__input:checked+.checkbox-button__control:after {
  content: "";
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ffffff;
}

.checkbox-button__input:checked+.checkbox-button__control {
  border-color: #ffffff;
}

.checkbox-button__label {
  position: relative;
}

.checkbox-button__control {
  transform: scale(0.6);
}

.radio_styl:checked,
.radio_styl:not(:checked) {
  position: absolute;
  left: -9999px;
}

.radio_styl:checked+label,
.radio_styl:not(:checked)+label {
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  line-height: 1.2rem;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-weight: Regular;
  font-size: 0.8rem;
}

.radio_styl:checked+label:before,
.radio_styl:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0);
}

.radio_styl:checked+label:after,
.radio_styl:not(:checked)+label:after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background: #ffffff;
  position: absolute;
  top: 0.19rem;

  left: 0.14rem;
  left: 0.19rem;

  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.radio_styl:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radio_styl:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.radio_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  accent-color: rgb(0, 0, 0);
}

input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  accent-color: rgb(0, 0, 0);
  width: fit-content;
}

.radio_cont2 {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.scroll-d {
  /* position: absolute;
  border: 0px solid white;
  margin-right: 5%;
  right: 0;

  bottom: 6vh;
  bottom: 8%;

  bottom: 7vh; */
}

#wrapper {
  display: table;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#scroll-down {
  display: block;
  position: relative;
  padding-top: 1rem;
  /*   
  padding-top: 47px; */
  padding-top: 5.8rem;
  text-align: center;
}

.arrow-down {
  display: block;
  margin: 0 auto;
  width: 0.9rem;
  height: 0.9rem;

  width: 1.1rem;
  /* height: 5vw; */
}

.arrow-down:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 0.9rem;
  height: 0.9rem;
  border-top: 0.2rem solid #ffffffc7;
  border-right: 0.2rem solid #ffffffc7;
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

#scroll-title {
  display: block;
  text-transform: uppercase;
  color: #ffffffc7;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#scroll-down::before {
  /* IE 10+, Fx 29+ */

  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -0.1vw;
  width: 0.2vw;
  /* height: 54px; */
  height: 6.8rem;
  background: #ffffffc7;
  content: " ";
}

.scroll-d:hover #scroll-down {
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

.link_cur {
  text-decoration: none;
  color: inherit;
}

.arrow_container {
  height: 6rem;
  animation: 0.7s ease-in 4.1s forwards fade_down;
}

@keyframes fade_down {
  0% {
    opacity: 0;
    top: 84%;
  }

  100% {
    opacity: 1;
    top: 91%;
  }
}

.arrow_container svg {
  height: 6rem;
  position: relative;
  transition: 1s ease-in-out;
}

.arrow_container svg:hover {
  animation: 1s forwards arrow_dash;
}

@keyframes arrow_dash {
  0% {
    stroke-dashoffset: 300;
    stroke-dasharray: 290;
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    stroke-dasharray: 300;
    stroke-dashoffset: 0%;
  }
}

.cursor {
  width: 2.1vw;
  height: 2.1vw;
  border: 0.1vw solid rgba(255, 255, 255, 0);
  transition: linear;
  z-index: 1000;
  /* display: none; */
  /* position: fixed; */
  /* pointer-events: none; */
}

.cursor_border,
.cursor_circle {
  border-radius: 50%;
  text-align: center;
}

.cursor_circle {
  width: 0.8vw;
  height: 0.8vw;
  margin: 0.65vw;
  background-color: #fff;
  transition: 0.2s;
  font: italic 0.12vw oo;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.cursor_circle_click {
  transform: scale(0.5);
  border: 0.03vw solid #898989;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.1s;
  font-weight: 600;
  color: #fff;
}

.cursor_border {
  width: 2.1vw;
  height: 2.1vw;
  border: 0.1vw solid #ffffff80;
  transition: 0.2s;
  transform: scale(1);
}

.cursor_border_hover {
  animation: 1s linear forwards electric;
  border-radius: 40%;
}

.cursor:hover .cursor_border {
  border-radius: 35%;
  animation: electric 0.2s linear infinite;
}

@keyframes electric {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.custom-cursor {
  /* position: fixed; */
  opacity: 1;
  mix-blend-mode: difference;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: transform 350ms ease;
  z-index: 100;
  cursor: none;
  /* pointer-events: none; */
  background-color: white;
}

.custom-cursor:hover {
  transform: scale(1);
  border-radius: 48% 58% 36% 38% / 29% 42% 32% 48%;
  animation: irreg 1.4s alternate infinite ease-in-out;
}

.cuu {
  cursor: auto;
}

cursor.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--fnt-colr);
  border-radius: 50%;
  animation: clickEffect 0.3s ease-out;
  z-index: 99999;
}

@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.5em;
  }

  100% {
    opacity: 0.3;
    width: 10em;
    height: 10em;
    margin: -5em;
    border-width: 0.03em;
  }
}

.bigg {
  z-index: 5;
}

.biga {
  /* transform: translate(-50%, -50%) scale(1); */
  transform: scale(1);
  border-radius: 48% 58% 36% 38% / 29% 42% 32% 48%;
  animation: irreg 1.4s alternate infinite ease-in-out;
}

@keyframes irreg {
  0% {
    border-radius: 48% 58% 36% 38% / 29% 42% 32% 48%;
  }

  20% {
    border-radius: 64% 52% 40% 41% / 71% 66% 82% 89%;
  }

  60% {
    border-radius: 50%;
  }

  80% {
    border-radius: 64% 69% 40% 52% / 34% 70% 55% 70%;
  }
}

.custom-cursor--link {
  transform: translate(-50%, -50%) scale(0.5);
}

.wrap {
  width: 14rem;
}

.value {
  position: relative;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
  width: 100%;
  height: 1rem;
  line-height: 1em;
  color: white;
}

.value::after {
  content: "";
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgb(255, 255, 255);
  width: 14rem;
  height: 0.1rem;
  outline: 0;

  font-size: inherit;
  padding: inherit;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgb(255, 255, 255);
  width: 1rem;
  height: 1.1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-out;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.1);
}

.custom-file-upload {
  padding: 0.8rem 0.8rem;
  cursor: pointer;
  font-weight: 500;
  /* font-size: 1vw; */
  width: inherit;
  background: black;
  color: white;
  border: 0.1vw solid white;
  position: absolute;
  font-size: 0.8rem;
}

.custom-file-upload:hover {
  color: black;
  background: white;
  border: 0.1rem solid black;
  text-decoration: underline;
}

.file-group {
  width: 6rem;
  height: 2.6rem;
  display: flex;
  position: relative;
}

#file-upload {
  display: none;
}

input[type="date"] {
  font-size: 0.8rem;
  padding: 1rem 1rem 0.5rem 0.5rem;
  display: block;
  width: fit-content;
  border-bottom: 0.1rem solid #b7b7b7;
  background-color: transparent;
  color: black;
  accent-color: black;
  filter: invert();
}

input[type="date"]:focus {
  border-bottom: 0.1rem solid #000000;
}